header {
    background-color: rgba(207, 207, 207, 0.945);
    height: 50px;
    border-radius: 10px;
}

main {
    background-color: rgb(240, 135, 135);
}

footer {
    background-color: rgb(212, 212, 243);
}